.items {
    position: relative;
    height:300px;
	width:300px;
    border: 1px solid #000; 
}
.item {
    width: 50px;
    height: 50px;
    background-color: blue;
    position: absolute; 
	text-align:center;
	
}
